.container{
    display: flex;
    border: 10px solid black;
    height: 90vh; /* vh - viewport height units */
    /* flex-direction: row; *//* default alt row-reverse column*/
    /* justify-content: flex-start; */ /*  default alt flex-end center space-between space-around space-evenly */
    /* align-items: center; */ /* default:flex-start alt flex-end baseline(text align regardeless of font size) within container */

    /* flex-wrap: wrap; */ /* default:no-wrap alt wrap-reverse */
    /* align-content: flex-start; */ /* flex-end center  space-evenly space-between */
    /* column-gap: 2em;
    row-gap: 2em; */
}   
.box{
    width: 150px;
    height: 150px;
    font-size: 8cm;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: red;
    align-self: center; /* start center end */
}
#box2{
    background-color: yellow;
    order: 1; /* send to the right end */
}
#box3{
    background-color: lightgreen;
}
#box4{
    background-color: lightblue;
}